
/* HTML */

html {

  /* Color Variables */
  --form-background: #fcfcfc;
  --brightest: #eaeaea;
  --bright: #e0e0e0;
  --darkest: #1b1b1b;
  --blue: #4c78b3;
  --darkblue: #172436;

  /* Font Family */
  --name: 'Open Sans', sans-serif;
  --form-text: 'Lora', serif;
  --heading: 'Montserrat', Verdana, sans-serif;
  --main-text: 'Roboto', Verdana, sans-serif;

  /* Container */
  --container: 80rem; /* 1280px */

  background-color: var(--darkblue);
  font-size: 16px;
  margin: 0;
}

a {
  color: var(--brightest);
  text-decoration: none;
}

a:visited {
  color: var(--brightest);
}

a:focus,
a:hover {
  color: var(--darkest);
}

a,
li,
p {
  font-family: var(--main-text);
}

h1 {
  font-family: var(--heading);
  font-size: 6rem;
  font-weight: bold;
}

h2 {
  font-family: var(--heading);
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-family: var(--heading);
  font-size: 2.2rem;
  text-align: center;
}

h4 {
  font-family: var(--heading);
  font-size: 1.8rem;
  text-align: center;
}


/*HEADER*/

header {
  background-color: var(--blue);
  font-size: 1.4rem;
  justify-content: space-between;
  left: 0;
  margin: 0 auto;
  opacity: 0.95;
  position: fixed;
  right: 0;
  max-width: var(--container);
  z-index: 15;
}

header p {
  font-family: var(--name);
}

header,
header div,
header ul {
  align-items: center;
  display: flex;
}

header picture {
  height: 3.125rem; /* 50px */
}

header a {
  margin: 0.5rem;
  transition: color 0.2s;
}


/* MAIN */

main {
  margin: 0 auto;
  position: relative;
  top: 50px;
  max-width: var(--container);
}

main a:visited {
  color: inherit;
}
 main a:focus {
  color: inherit;
 }

section {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

section:nth-child(odd){
  background-color: var(--brightest);
}

section:nth-child(even){
  background-color: var(--blue);
  color: var(--brightest);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 2rem;
}

li {
  background-color: var(--darkest);
  color: var(--brightest);
  transition: background-color 0.2s, color 0.2s;
  max-width: 30rem;
}

li:focus,
li:hover {
  background-color: var(--bright);
  color: var(--darkest);
  cursor: pointer;
}

li a {
  display: block;
  height: 100%;
}

/* Jumbotron */

#jumbotron {
  align-items: center;
  display: flex;
  height: 39.0625rem; /* 625px */
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

#jumbotron div { background-image: url('../images/jumbotron-1280x625.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 39.0625rem; /* 625px */
  opacity: 0.4;
  position: absolute;
  width: 100%;
  z-index: 5;
}

#jumbotron h1 {
  z-index: 10;
}

/* Projects */

#projects ul {
  line-height: 1.4rem;
}

#projects li {
  height: 27rem; /* 1280px container */
  margin: 3rem 2rem 0 2rem;
}

#projects img {
  opacity: 0.5;
  transition: opacity 0.2s;
}

#projects img:focus,
#projects img:hover {
  opacity: 1;
}

#projects figcaption {
  font-size: 2rem;
  text-align: center;
  margin-top: 0.8rem;
  padding: 0.5rem;
}

#projects p {
  text-align: center;
  padding: 0.5rem;
}


/* Skills */

#skills li {
  min-height: 13rem;
  margin: 3rem 2rem 0 2rem;
}

#skills p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem 5rem;
  text-align: center;
}

#skills h3 {
  margin-top: 1.5rem;
}


/* Education */

#education li {
  display: flex;
  margin: 3rem 2rem 0 2rem;
  min-height: 13rem;
  padding: 2rem 0;

}

#education p {
  font-size: 1.5rem;
  margin: 2rem 0 0 3rem;
}


/* Contact */

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 3rem;
  width: 35rem;
}

#name,
#mail,
#message {
  background-color: var(--form-background);
  font-family: var(--form-text);
  margin-bottom: 1rem;
  padding: 0.6rem 1.5rem;
}

input,
textarea {
  border-style: none;
  border-radius: 1rem;
  font-size: 1.5rem;
}

textarea {
  height: 10rem;
  resize: none;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

#send {
  background-color: var(--darkest);
  color: var(--brightest);
  font-family: var(--main-text);
  min-height: 3rem;
  transition: background-color 0.2s, color 0.2s;
  width: 8rem;
}

#send:focus,
#send:hover {
  background-color: var(--blue);
  color: var(--darkest);
  cursor: pointer;
}

/* FOOTER */

footer {
  background-color: var(--blue);
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

footer i {
  margin: 0 1rem;
  transition: color 0.2s;
}

footer i:focus,
footer i:hover {
  color: var(--bright);
}

footer a,
footer a:visited {
  color: var(--darkest);
}
